<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
       ">
    <description>This is an example Spring configuration file</description>


    <bean id="performer" class="com.houston.aop.domain.Vocalist"/>
    <bean id="contestantDelegate" class="com.houston.aop.domain.Winner"/>
    <!--
    <bean id="cacheAspect" class="com.houston.jdbctemplate.aspect.CacheAspect"/>

    <aop:config>
    <aop:pointcut id="getters"
                      expression="execution(* com.houston.jdbctemplate.PersonDaoImpl.get(..))"/>
        <aop:aspect ref="cacheAspect">
            <aop:around pointcut-ref="getters"
                        method="doCache"/>
        </aop:aspect>

    </aop:config>
    -->
    <aop:config>
        <aop:aspect>
            <aop:declare-parents
            types-matching="com.houston.aop.Performer+"
            implement-interface="com.houston.aop.domain.Contestant"
            delegate-ref="contestantDelegate"/>
        </aop:aspect>
    </aop:config>


    <!--
        <aop:aspect ref="ken">
            <aop:pointcut id="performance"
                    expression="execution(* chapter4.Performer.perform(..))" />
            <aop:after pointcut-ref="performance" method="receiveAward"/>
    </aop:aspect>
    -->
</beans>
