<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.0.xsd
       ">
    <description>This is an example Spring configuration file</description>
    <context:component-scan base-package="com.houston"/>

    <bean id="otherBean" class="com.houston.aop.beans.OtherBeanImpl"/>
    <bean id="entryBean" class="com.houston.aop.beans.EntryBean">
        <constructor-arg ref="proxyOtherBean"/>
    </bean>


    <bean id="simpleTraceInterceptor" class="org.springframework.aop.interceptor.SimpleTraceInterceptor">
        <property name="useDynamicLogger" value="true"/>
    </bean>

    <bean id="debugInterceptor" class="org.springframework.aop.interceptor.DebugInterceptor">
        <property name="useDynamicLogger" value="true"/>
    </bean>

    <bean id="performanceMonitorInterceptor" class="org.springframework.aop.interceptor.PerformanceMonitorInterceptor">
        <property name="useDynamicLogger" value="true"/>
    </bean>

    <bean id="cacheInterceptor" class="com.houston.aop.interceptor.CachingInterceptor"/>

    <bean id="cacheManager"
          class="org.springframework.cache.ehcache.EhCacheManagerFactoryBean"/>

    <bean id="methodCacheBean"
          class="org.springframework.cache.ehcache.EhCacheFactoryBean">
        <property name="cacheManager" ref="cacheManager"/>
        <property name="cacheName" value="com.houston.caching.METHOD_CACHE"/>
    </bean>


    <bean id="proxyOtherBean" class="org.springframework.aop.framework.ProxyFactoryBean">
        <property name="target">
            <ref local="otherBean"/>
        </property>
        <property name="interceptorNames" value="cacheInterceptor"/>
    </bean>


</beans>
